<!DOCTYPE html>  
<html itemscope itemtype="http://schema.org/CreativeWork">
    <head>
        <%- include('partials/app-common-head.html.ejs') %>
        <%- include('partials/common-scripts.html.ejs') %>
    </head>
    <body>        
        <%- include('partials/analytics.html.ejs') %>
        <%- include('partials/navbar.html.ejs') %>

        <script src="/assets/js/main-games-vendor.min.js"></script>
        <script src="<%= locals.gameScriptPath %>"></script>

        <div class="container">
            <div class="row-fluid">
                <div class="col-md-4">
                    <h1>SwarmControl</h1>
                    <div id="taskName">
                        <h3> <%= locals.taskName %> </h3>
                    </div>

                    <div class="well task-info">
                        <div id="task-instructions">
                            <%- include( locals.instructionsPartial ) %>
                        </div>
                        <div id="task-theScience" >
                            <%- include( locals.sciencePartial ) %>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-8", align="center">
                    <div id="canvasID" style="width:600px; height:600px; margin: 0px; padding: 0px;">
                        <canvas id="canvas" width="600px" height="600px" style="background-color: #fff">
                        </canvas>
                        <div id="resultsCanvas" style="position:absolute; width:600px; height:600px; top:0px; margin-left:25; margin-right:25px; margin-top:5px; pointer-events: none;">
                        </div>
                        <div class="row" id="buttonBar" style="position:absolute; bottom:0px; bottom:60px; left:150px;">
                        </div>
                    </div>
                    <div class="row" >     
                        <div class="task-buttons pull-right">
                            <button id="-play-again-button" class="btn btn-success" onClick="window.location.reload()">Restart</button>
                            <button id="-tasks-button" class="btn btn-success" onClick="parent.location='../'">Main Menu</button>
                        </div>
                        <div class="center" id="taskFeedback">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // theGame is included from the game script file.
            theGame($,phys,GameFramework, Box2D, drawutils, mathutils);
        </script>
                
        <%- include('partials/terms-and-conditions.html.ejs') %>

        <%- include('partials/footer.html.ejs') %>
        <%- include('partials/user-voice.html.ejs') %>
    </body>
</html>