<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/CreativeWork">
	<head>
		<%- include('partials/app-common-head.html.ejs') %>
		<%- include('partials/common-scripts.html.ejs') %>		
	</head>
	<body>
	<script src="/assets/js/main-results-vendor.min.js"></script>
	<%- include('partials/navbar.html.ejs') %>


 	<div id="fb-root"></div>
	 <script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="container">
	    <h2>
	    	SwarmControl: Results
		    <span class="btn-group">
		    	<a class="btn btn-mini btn-info" href="/results?download=csv" target="_blank">As CSV</a>
		    	<a class="btn btn-mini btn-info" href="/results?download=json" target="_blank">As JSON</a>
	    	</span>
    	</h2>
	    <hr>
	    <div>
	    	<button class="btn btn-info" id="get-results-button">Get results!</button>
	    	<div class="results-page" id="results-container">
	    	</div>
	    </div>
	</div>

	<script>
	$(window).on('load',function() {
		var $resultsContainer = $('#results-container');

		var $resultsButton = $('#get-results-button');
		$resultsButton.prop('disabled', false); // firefox sometimes needs this between pageloads

		$resultsButton.on('click', function(){
			$resultsButton.html('Loading results...');
			$resultsButton.prop('disabled', true);

			$.get('/results?download=json-packed', function( rawData ) {
				$resultsButton.html('Drawing results...');
				function unpackData( packed ) {
					var keys = Object.keys(packed);
					var ret = [];
					if (keys.length > 0){
						var numRecords = packed[keys[0]].length;
						for (var i = 0; i < numRecords; i++) {
							ret.push( keys.reduce(function (acc, key){
								acc[key] = packed[key][i];
								return acc;
							},{}));
						}
					}

					return ret;
				}


	        	var data = rawData;
	        	$resultsButton.hide();

	        	var organizedResults = unpackData(data.results).reduce( function( acc, el) {
	        		// make sure the result is for a game we have available.
	        		// we only care about won tasks for now
	        		if ( data.taskInfo[el.task] && el.ending === 'won'){
		        		acc[el.task] = acc[el.task] || [];
		        		acc[el.task].push(el);
	        		}
	        		return acc;
	        	}, {});

	        	console.log(organizedResults);

	        	Object.keys(organizedResults).forEach( function (taskName) {
	        		var taskInfo = data.taskInfo[taskName];

	        		var $resultGraph = $('<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>');
	        		$resultsContainer.append($resultGraph);
	        		
	        		// at this point, we do not reschedule, and the task ends.
		            resultutils.plot(	$resultGraph,
		            					taskInfo.xAxisLabel,
		            					taskInfo.displayName,
		            					organizedResults[taskName],
		            					[]);
		            $resultGraph.append('<button class="btn btn-success" onclick="location=\'' + taskInfo.url +'\'">Play '+ taskInfo.displayName +'!</button>');
		            $resultGraph.append('<br><br>');
	        	});
	            
	        });
		});
	});
	</script>

	<%- include('partials/footer.html.ejs') %>
	<%- include('partials/user-voice.html.ejs') %>
	</body>
</html>

